<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Company : Test
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form class="w-100">
        <div class="form-group">
          <label for="compnay.name"> Nom</label>
          <input [(ngModel)]="compnay.name" name="compnay.name" type="text" class="form-control" maxlength="20"
            disabled>
        </div>
        <div class="form-group">
          <label for="compnay.phone"> Mobile</label>
          <input [(ngModel)]="compnay.phone" name="compnay.phone" type="text" class="form-control" disabled>
        </div>
        <div class="form-group">
          <label for="compnay.email"> Mail</label>
          <input [(ngModel)]="compnay.email" name="compnay.email" type="email" class="form-control" disabled>
        </div>
        <div class="form-group">
          <label for="compnay.address"> Adresse</label>
          <input [(ngModel)]="compnay.address" name="compnay.address" type="email" class="form-control" disabled>
        </div>

        <div class="form-group">
          <label for="name">Expiration</label>
          <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" class="form-control" placeholder="Date Time" readonly>
          <owl-date-time #dt1 disabled></owl-date-time>
        </div>

        <div class="form-group">
          <label class="control-label">Sla</label>
          <select [(ngModel)]='compnay.slaId' name="compnay.slaId" class="form-control" required disabled>
            <option [value]="compnay.slaId">
              Sla 1
            </option>
          </select>
        </div>
        <div class="form-check">
          <label class="el-switch" style="font-size:100%">
            <input type="checkbox" [(ngModel)]="compnay.active" id="active" name="compnay.active" disabled>
            <span class="el-switch-style"></span>
          </label>
          <label class="ml-1" for="active">Actif</label>
        </div>

        <button type="submit" [routerLink]="['/company/edit/1']" class="btn-slide" data-hover="Modifer" disabled="true">
          <div>Modifer</div>
        </button>
        <button type="button" [routerLink]="['/company/list']" class="btn-slide btn-slide-default" data-hover="Annuler">
          <div>Annuler</div>
        </button>
      </form>
    </div>
  </div>
</div>