<!-- start datatable -->
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel has-datatable ">
    <div class="x_title">
      <h2>Sla
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content ">
      <div class="btn-group" style="float: right;">
        <button class="btn btnTopFix btn-tool" *ngIf="selectedMulti">
          Supprimer
        </button>
        <button routerLink="/sla/add" class="btn btnTopFix btn-tool">
          Ajouter
        </button>
      </div>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th width="5%">
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" [(ngModel)]='selectedAll' name="selectedAll" (change)="onSelectedAllChange()">
                <span class="el-switch-style"></span>
              </label>
            </th>
            <th>Nom</th>
            <th>Latence</th>
            <th>prix</th>
            <th width="35%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom</td>
            <td>5</td>
            <td>1000</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>Détail
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/sla/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
              </a>
              <button class="btn btnAction btnDelete">
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end datatable -->