<!-- start datatable -->
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel has-datatable ">
    <div class="x_title">
      <h2>Comapny
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content ">
      <div class="btn-group" style="float: right;">
        <button class="btn btnTopFix btn-tool" *ngIf="selectedMulti" (click)="onDeleteAll()">
          Supprimer
        </button>
        <button routerLink="/company/add" class="btn btnTopFix btn-tool">
          Ajouter
        </button>
      </div>
      <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
          <tr>
            <th width="5%">
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" [(ngModel)]='selectedAll' name="selectedAll" (change)="onSelectedAllChange()">
                <span class="el-switch-style"></span>
              </label>
            </th>
            <th>Nom</th>
            <th>Mobile</th>
            <th>Mail</th>
            <th>Adresse</th>
            <th>Actif</th>
            <th>expiration</th>
            <th>Sla</th>
            <th width="20%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          <tr>
            <td>
              <label class="el-switch" style="font-size:80%">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </td>
            <td>Nom 1</td>
            <td>06251582545</td>
            <td>Test@gmail.com</td>
            <td>Lorem ipsum dolor sit amet.</td>
            <td>Oui</td>
            <td>30/12/2019</td>
            <td>Test</td>
            <td>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/view/1']">
                <i class="fa fa-search fa-2x" aria-hidden="true"></i>
              </a>
              <a class="btn btnAction btnNavigate" [routerLink]="['/company/edit/1']">
                <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
              </a>
              <button class="btn btnAction btnDelete" (click)='onDelete()'>
                <i class="fa fa-trash fa-2x" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- end datatable -->