<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Filter : Test
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form class="w-100">
        <div class="form-group">
          <label for="name"> Url</label>
          <input [(ngModel)]="filter.url" name="filter.url" type="url" class="form-control" required disabled='true'>
        </div>

        <div class="form-group">
          <label class="control-label">Website</label>
          <select [(ngModel)]='filter.websiteId' name="filter.websiteId" class="form-control" required disabled>
            <option [value]="filter.websiteId">
              google
            </option>
          </select>
        </div>
        <button type="submit" class="btn-slide" data-hover="Enregistrer" disabled="true">
          <div>Enregistrer</div>
        </button>
        <button type="button" [routerLink]="['/filter/list']" class="btn-slide btn-slide-default" data-hover="Annuler">
          <div>Annuler</div>
        </button>
      </form>
    </div>
  </div>
</div>