<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="items/1" class="nav-link" routerLinkActive="active">Markplaats</a></li>
      <li class="nav-item">
        <a routerLink="items/2" class="nav-link" routerLinkActive="active">AutoScout24</a></li>
      <li class="nav-item">
        <a routerLink="items/3" class="nav-link" routerLinkActive="active">Facebook Marketplace</a>
      </li>
      <li class="nav-item">
        <a routerLink="items/4" class="nav-link" routerLinkActive="active">ANWB</a>
      </li>
      <li class="nav-item">
        <a routerLink="items/5" class="nav-link" routerLinkActive="active">Gaspedaal</a>
      </li>
      <li class="nav-item">
        <a routerLink="items/6" class="nav-link" routerLinkActive="active">Autoweek</a>
      </li>
      <li class="nav-item">
        <a routerLink="items/7" class="nav-link" routerLinkActive="active">Autotrader</a>
      </li>
      <li class="nav-item">
        <a routerLink="items/8" class="nav-link" routerLinkActive="active">Viabovag</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>