<div class="container body">
  <div class="main_container">

    <app-sidebar *ngIf="isLoggedIn"></app-sidebar>

    <app-header *ngIf="isLoggedIn" [hasFilter]='hasFilter'></app-header>

    <!-- page content -->
    <div [ngClass]="{'right_col':isLoggedIn, 'h-100': !isLoggedIn}" role="main" malihu-scrollbar
      [scrollbarOptions]="scrollbarOptions">
      <div [ngClass]="{'admin-content': isLoggedIn}">
        <div class="row">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
    <!-- /page content -->

  </div>
</div>