<div class="row" style="margin-top: 50px; margin-bottom: 50px;">
  <button class="btn btn-primary" (click)="getItems()">Refresh</button>
</div>

<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ref</th>
        <th scope="col">Title</th>
        <th scope="col">Url</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <td>{{ item.ref }}</td>
        <td>{{ item.title }}</td>
        <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
        <td>{{ item.createdAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
        <td>{{ item.updatedAt | date:'dd/MM/yyyy HH:mm:ss' }}</td>
      </tr>
    </tbody>
  </table>
</div>