<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Add Agent
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form class="w-100">
        <div class="form-group">
          <label for="name"> Nom</label>
          <input [(ngModel)]="agent.lastname" name="lastname" type="text" class="form-control" maxlength="20" required>
        </div>
        <div class="form-group">
          <label for="firstname"> Prénom</label>
          <input [(ngModel)]="agent.firstname" name="firstname" type="text" class="form-control" maxlength="20"
            required>
        </div>
        <div class="form-group">
          <label for="username"> Username</label>
          <input [(ngModel)]="agent.username" name="username" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="email"> Mail</label>
          <input [(ngModel)]="agent.email" name="email" type="email" class="form-control" required>
        </div>
        <div class="form-check">
          <label class="el-switch" style="font-size:100%">
            <input type="checkbox" [(ngModel)]="agent.emailNotif" id="emailNotif" name="agent.emailNotif">
            <span class="el-switch-style"></span>
          </label>
          <label class="ml-1" for="emailNotif">mail notification</label>
        </div>
        <div class="form-group">
          <label for="password"> Mot de passe</label>
          <input [(ngModel)]="agent.password" name="password" #password="ngModel" type="password" class="form-control"
            maxlength="20" required>
        </div>
        <div class="form-group">
          <label for="phone"> Mobile</label>
          <input [(ngModel)]="agent.phone" name="phone" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label class="control-label">rôle</label>
          <select2 [data]="roleData" [cssImport]=true></select2>
        </div>
        <div class="form-group">
          <label for="salt"> salt</label>
          <input [(ngModel)]="agent.salt" name="salt" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="salt"> salt</label>
          <input [(ngModel)]="agent.salt" name="salt" type="text" class="form-control" required>
        </div>
        <div class="form-check">
          <label class="el-switch" style="font-size:100%">
            <input type="checkbox" [(ngModel)]="agent.smsNotif" id="smsNotif" name="agent.smsNotif">
            <span class="el-switch-style"></span>
          </label>
          <label class="ml-1" for="smsNotif">SMS notification</label>
        </div>
        <div class="form-group">
          <label class="control-label">ID de l'entreprise</label>
          <select2 [data]="companyData" [cssImport]=true></select2>
        </div>
        <div class="form-group">
          <label class="control-label">ID de sélection actuel</label>
          <select2 [data]="selectionData" [cssImport]=true></select2>
        </div>

        <button type="submit" class="btn-slide" data-hover="Enregistrer" disabled="true">
          <div>Enregistrer</div>
        </button>
        <button type="button" [routerLink]="['/agent/list']" class="btn-slide btn-slide-default" data-hover="Annuler">
          <div>Annuler</div>
        </button>
      </form>
    </div>
  </div>
</div>