<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Selection : {{ selection.name }}
        </h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <form #form="ngForm" class="w-100" (ngSubmit)='onSubmit()'>
          <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="selection.name" name="name" type="text" class="form-control" maxlength="50" required>
          </div>
          <div class="form-group">
            <label for="owner">Owner</label>
            <input [(ngModel)]="selection.user.name" name="owner" type="text" class="form-control" disabled>
          </div>
          <!-- <div *ngIf="isAdmin && selection.user.role.includes('ADMIN')" class="form-check">
            <label class="el-switch" style="font-size:80%">
              <input type="checkbox" [(ngModel)]="selection.isDefault" name="selection.isDefault">
              <span class="el-switch-style"></span>
            </label>
            <label class="margin-r">Default</label>
          </div> -->
          <div *ngIf="isAdmin && selection.user.role.includes('ADMIN')" class="form-group">
            <label for="isDefault">Default</label>
            <select id="isDefault" [(ngModel)]="selection.isDefault" name="isDefault" class="form-control" required [disabled]="isDefault">
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="form-group">
            <label for="owner">Filters</label>
            <select2 [data]="filtersData" [cssImport]=true [options]="filtersOptions" (valueChanged)="onFiltersCHange($event)"></select2>
          </div>

          <button type="submit" class="btn-slide" data-hover="Save"
            [disabled]="form.invalid">
            <div>Save</div>
          </button>
          <button type="button" [routerLink]="['/selection/view', selection.id]"
            class="btn-slide btn-slide-default" data-hover="Cancel">
            <div>Cancel</div>
          </button>
        </form>
      </div>
    </div>