<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Sla :Test
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form class="w-100">
        <div class="form-group">
          <label for="name"> Nom</label>
          <input [(ngModel)]="sla.name" name="sla.name" type="text" class="form-control" maxlength="20" required>
        </div>
        <div class="form-group">
          <label for="name"> Description</label>
          <textarea [(ngModel)]="sla.description" name="sla.description" type="number" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label for="name"> Latence</label>
          <input [(ngModel)]="sla.latency" name="sla.latency" type="number" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="name"> Prix</label>
          <input [(ngModel)]="sla.price" name="sla.price" type="number" class="form-control" required>
        </div>

        <button type="submit" class="btn-slide" data-hover="Enregistrer" disabled="true">
          <div>Enregistrer</div>
        </button>
        <button type="button" [routerLink]="['/sla/list']" class="btn-slide btn-slide-default" data-hover="Annuler">
          <div>Annuler</div>
        </button>
      </form>
    </div>
  </div>
</div>