<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>Admin : Test
      </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <form class="w-100">
        <div class="form-group">
          <label for="name"> Nom</label>
          <input [(ngModel)]="admin.lastname" name="lastname" type="text" class="form-control" maxlength="20" required
            disabled>
        </div>
        <div class="form-group">
          <label for="firstname"> Prénom</label>
          <input [(ngModel)]="admin.firstname" name="firstname" type="text" class="form-control" maxlength="20" required
            disabled>
        </div>
        <div class="form-group">
          <label for="username"> Username</label>
          <input [(ngModel)]="admin.username" name="username" type="text" class="form-control" required disabled>
        </div>
        <div class="form-group">
          <label for="email"> Mail</label>
          <input [(ngModel)]="admin.email" name="email" type="email" class="form-control" required disabled>
        </div>
        <div class="form-check">
          <label class="el-switch" style="font-size:100%">
            <input type="checkbox" [(ngModel)]="admin.emailNotif" id="emailNotif" name="admin.emailNotif" disabled>
            <span class="el-switch-style"></span>
          </label>
          <label class="ml-1" for="emailNotif">mail notification</label>
        </div>
        <div class="form-group">
          <label for="password"> Mot de passe</label>
          <input [(ngModel)]="admin.password" name="password" #password="ngModel" type="password" class="form-control"
            maxlength="20" required disabled>
        </div>
        <div class="form-group">
          <label for="phone"> Mobile</label>
          <input [(ngModel)]="admin.phone" name="phone" type="text" class="form-control" required disabled>
        </div>
        <div class="form-group">
          <label class="control-label">rôle</label>
          <select [(ngModel)]='admin.role' name="admin.role" class="form-control" required disabled>
            <option [value]="admin.role">
              rôle 1
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="salt"> salt</label>
          <input [(ngModel)]="admin.salt" name="salt" type="text" class="form-control" required disabled>
        </div>
        <div class="form-group">
          <label for="salt"> salt</label>
          <input [(ngModel)]="admin.salt" name="salt" type="text" class="form-control" required disabled>
        </div>
        <div class="form-check">
          <label class="el-switch" style="font-size:100%">
            <input type="checkbox" [(ngModel)]="admin.smsNotif" id="smsNotif" name="admin.smsNotif" disabled>
            <span class="el-switch-style"></span>
          </label>
          <label class="ml-1" for="smsNotif">SMS notification</label>
        </div>
        <div class="form-group">
          <label class="control-label">ID de l'entreprise</label>
          <select [(ngModel)]='admin.companyId' name="admin.companyId" class="form-control" required disabled>
            <option [value]="admin.companyId">
              Test
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">ID de sélection actuel</label>
          <select [(ngModel)]='admin.currentSelectionId' name="admin.currentSelectionId" class="form-control" required
            disabled>
            <option [value]="admin.currentSelectionId">
              Test
            </option>
          </select>
        </div>

        <button type="submit" class="btn-slide btn-slide-danger" [routerLink]="['/admin/edit/1']" data-hover="Modifer">
          <div>Modifer</div>
        </button>
        <button type="button" [routerLink]="['/admin/list']" class="btn-slide btn-slide-default" data-hover="Annuler">
          <div>Annuler</div>
        </button>
      </form>
    </div>
  </div>
</div>