<div class="col-xs-12">
  <ul class='btn-dashborad'>
    <li class="pr-1">
      <button type="button" [ngClass]="{'active':agent.smsNotif}" (click)='smsToggle()'>
        <img [src]="'assets/images/icons/sms_white.svg'" alt="" srcset="">
        SMS
      </button>
    </li>
    <li class="pl-1">
      <button type="button" [ngClass]="{'active':agent.emailNotif}" (click)='emailToggle()'>
        <img [src]="'assets/images/icons/email_white.svg'" alt="" srcset="">
        Mail
      </button>
    </li>
  </ul>

  <div class="x_panel ">
    <div class="x_title">
      <h2>selections </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content ">
      <div class="selections">
        <div *ngFor="let selection of selections" class="selection">
          <div class="card" data-id="{{selection.id}}">
            <div class="content-wrapper">
              <div class="label-group fixed">
                <p class="title">{{selection.name}}</p>
                <p class="caption">
                  <span *ngFor="let filter of selection.filters">{{filter.name}}</span>
                </p>
              </div>
            </div>
            <span class='btnActions'>
              <div class="inputGroup" (change)="RowSelected($event,selection.id)">
                <input id="radio{{selection.id}}" name="radio" type="radio" />
                <label for="radio{{selection.id}}"></label>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class='box-selection'>
    <div class="img">
    </div>
    <div class="selection-content">
      <h2 class="title">
        Selection 1
        <button type="submit" class="btn-slide" data-hover="Choose" data-toggle="modal" data-target="#selectionModal">
          <div>Choose</div>
        </button>
      </h2>
      <div class="filters" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
        <span class="filter">Filter 1</span>
      </div>
    </div>
  </div> 
 
<div class="modal fade" id="selectionModal" tabindex="-1" role="dialog" aria-labelledby="selectionModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="selectionModalLabel">Choose selections</h4>
      </div>
      <div class="modal-body">
        <div class="selections">
          <div class="selection">
            <div class="card" data-row-id='1'>
              <div class="content-wrapper">
                <div class="label-group fixed">
                  <p class="title">Selection 1</p>
                  <p class="caption">
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>
                    <span>Filter 1</span>

                  </p>
                </div>
              </div>
              <span class='btnActions'>
                <div class="inputGroup" (change)="RowSelected($event)">
                  <input id="radio1" name="radio" type="radio" />
                  <label for="radio1"></label>
                </div>
              </span>
            </div>
          </div>
          <div class="selection">
            <div class="card over" data-row-id='2'>
              <div class="content-wrapper">
                <div class="label-group fixed">
                  <p class="title">Selection 2</p>
                  <p class="caption">
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                    <span>Filter 2</span>
                  </p>
                </div>
              </div>
              <span class='btnActions'>
                <div class="inputGroup" (change)="RowSelected($event)">
                  <input id="radio2" name="radio" type="radio" />
                  <label for="radio2"></label>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-slide" data-hover="Enregistrer">
          <div>Enregistrer</div>
        </button>
        <button type="button" class="btn-slide btn-slide-default" data-dismiss="modal" data-hover="Annuler">
          <div>Annuler</div>
        </button>
      </div>
    </div>
  </div>
</div> -->