<div class="col-xs-12">
  <ul class='btn-dashborad'>
    <li class="pr-1">
      <button type="button" [ngClass]="{'active':agent.smsNotif}" (click)='smsToggle()'>
        <img [src]="'assets/images/icons/sms_white.svg'" alt="" srcset="">
        SMS
      </button>
    </li>
    <li class="pl-1">
      <button type="button" [ngClass]="{'active':agent.emailNotif}" (click)='emailToggle()'>
        <img [src]="'assets/images/icons/email_white.svg'" alt=""
          srcset="">
        Mail
      </button>
    </li>
  </ul>
</div>
