<div class="col-xs-12">
  <ul class='btn-dashborad'>
    <li class="pr-1">
      <button type="button" [ngClass]="{'active':smsActive}" (click)='smsToggle()'>
        <img [src]="smsActive ? 'assets/images/icons/sms_white.svg' : 'assets/images/icons/sms.svg'" alt="" srcset="">
        SMS
      </button>
    </li>
    <li class="pl-1">
      <button type="button" [ngClass]="{'active':emailActive}" (click)='emailToggle()'>
        <img [src]="emailActive ? 'assets/images/icons/email_white.svg' : 'assets/images/icons/email.svg'" alt=""
          srcset="">
        Mail
      </button>
    </li>
  </ul>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2>
        <label class="el-switch" style="font-size:60%;margin: 0;vertical-align: top;">
          <input type="checkbox" name="checkboxs[]" [(ngModel)]='selectedAll' name="selectedAll"
            (change)="onSelectedAllChange()">
          <span class="el-switch-style"></span>
        </label>
        Selections </h2>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <div class="btn-group" style="float: right;">
        <button class="btn btnTopFix btn-tool" *ngIf="selectedMulti">
          Supprimer
        </button>
        <button data-toggle="modal" data-target="#modalAdd" class="btn btnTopFix btn-tool">
          Ajouter
        </button>
      </div>
      <div class="selections">
        <div class="selection">
          <div class="card" data-row-id='1'>
            <div class="card-type-icon">
              <label class="el-switch" style="font-size:80%;margin: 0;">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </div>
            <div class="content-wrapper">
              <div class="label-group fixed">
                <p class="title">Selection 1</p>
                <p class="caption">
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>

                </p>
              </div>
            </div>
            <a class="btn btnAction btnNavigate" data-toggle="modal" data-target="#modalEdit">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
            </a>
            <button class="btn btnAction btnDelete">
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
            </button>
            <div class="inputGroup" (change)="RowSelected($event)">
              <input id="radio1" name="radio" type="radio" />
              <label for="radio1"></label>
            </div>
          </div>
        </div>
        <div class="selection">
          <div class="card over" data-row-id='2'>
            <div class="card-type-icon">
              <label class="el-switch" style="font-size:80%;margin: 0;">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </div>
            <div class="content-wrapper">
              <div class="label-group fixed">
                <p class="title">Selection 1</p>
                <p class="caption">
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>

                </p>
              </div>
            </div>
            <a class="btn btnAction btnNavigate" data-toggle="modal" data-target="#modalEdit">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
            </a>
            <button class="btn btnAction btnDelete">
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
            </button>
            <div class="inputGroup" (change)="RowSelected($event)">
              <input id="radio2" name="radio" type="radio" checked='true' />
              <label for="radio2"></label>
            </div>
          </div>
        </div>
        <div class="selection">
          <div class="card" data-row-id='3'>
            <div class="card-type-icon">
              <label class="el-switch" style="font-size:80%;margin: 0;">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </div>
            <div class="content-wrapper">
              <div class="label-group fixed">
                <p class="title">Selection 1</p>
                <p class="caption">
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>

                </p>
              </div>
            </div>
            <a class="btn btnAction btnNavigate" data-toggle="modal" data-target="#modalEdit">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
            </a>
            <button class="btn btnAction btnDelete">
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
            </button>
            <div class="inputGroup" (change)="RowSelected($event)">
              <input id="radio3" name="radio" type="radio" />
              <label for="radio3"></label>
            </div>
          </div>
        </div>
        <div class="selection">
          <div class="card" data-row-id='4'>
            <div class="card-type-icon">
              <label class="el-switch" style="font-size:80%;margin: 0;">
                <input type="checkbox" name="checkboxs[]" value="" (change)="onCheckChange()">
                <span class="el-switch-style"></span>
              </label>
            </div>
            <div class="content-wrapper">
              <div class="label-group fixed">
                <p class="title">Selection 1</p>
                <p class="caption">
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                  <span>Filter 1</span>
                </p>
              </div>
            </div>
            <a class="btn btnAction btnNavigate" data-toggle="modal" data-target="#modalEdit">
              <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>Modifier
            </a>
            <button class="btn btnAction btnDelete">
              <i class="fa fa-trash fa-2x" aria-hidden="true"></i>Supprimer
            </button>
            <div class="inputGroup" (change)="RowSelected($event)">
              <input id="radio4" name="radio" type="radio" />
              <label for="radio4"></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="modal fade" id="modalView" tabindex="-1" role="dialog" aria-labelledby="modalViewLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalViewLabel">Selection view</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn-slide btn-slide-default" data-dismiss="modal" data-hover="Annuler">
          <div>Annuler</div>
        </button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="modalEditLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalEditLabel">Selection Edit</h4>
      </div>
      <div class="modal-body">
        <div id="editFilter">
          <div *ngFor="let filterEdit of filterEditData; let i = index">
            <div class="input-group">
              <select class="form-control" placeholder='Filter'>
                <option *ngFor="let filter of filterData; let j = index">
                  {{filter.name}}
                </option>
              </select>
              <span class="btn btnAction input-group-addon bg-light-grey" (click)="removeEditFilter(i)">
                <i class="fa fa-trash fa-2x m-0" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-slide" data-hover="Enregistrer">
          <div>Enregistrer</div>
        </button>
        <button type="button" class="btn-slide btn-slide-default" data-dismiss="modal" data-hover="Annuler">
          <div>Annuler</div>
        </button>
        <div class="btn btn-chico btn-add-filter" (click)="editNewFilter()"><i class="fa fa-plus"
            aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="modalAddLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalAddLabel">Selection Add</h4>
      </div>
      <div class="modal-body">
        <div id="addFilter">
          <div *ngFor="let filterAdd of filterAddData; let i = index">
            <div class="input-group">
              <select class="form-control" placeholder='Filter'>
                <option *ngFor="let filter of filterData; let j = index">
                  {{filter.name}}
                </option>
              </select>
              <span class="btn btnAction input-group-addon bg-light-grey" (click)="removeAddFilter(i)">
                <i class="fa fa-trash fa-2x m-0" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn-slide" data-hover="Enregistrer">
          <div>Enregistrer</div>
        </button>
        <button type="button" class="btn-slide btn-slide-default" data-dismiss="modal" data-hover="Annuler">
          <div>Annuler</div>
        </button>
        <div class="btn btn-chico btn-add-filter" (click)="addNewFilter()"><i class="fa fa-plus" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>